// Main styles
// You can write your main styles(eg: content, article etc) here
// Or you can separate this main file into several files(eg: header.scss, footer.scss etc)
// =================================================================================
.widget-area {
	@include background( #2a323a image-url('bg-pattern.png') repeat left center );
	@include background(
		image-url('bg-pattern.png') repeat left center,
		image-url('bg-img.png') repeat left center
	);
	border-right: 10px solid rgba($black, .15);
	position: fixed;
	.inside {
		
	}
}

.site-header {
	display: block;
	margin: 30px 10px 40px;
	h1 {
		border: none;
		@include replace-text( 'pondasee-logo.png' );
		height: 44px;
		margin-bottom: 30px;
		a {
			display: block;
		}
	}
}

.control {
	@include ff-museo;
	font-size: 18px;
	@include float(right);
	list-style: none;
	margin: 0 -10px 0;
	padding: 0;
	li {
		margin-bottom: 10px;
		&.active,
		&:active,
		&.ui-state-active {
			a {
				background-color: $backgroundColor;
				@include border-radius(5px 0 0 5px);
				color: #333;
				&:visited {
					color: #333;
				}
			}
		}
		a {
			@include border-radius(5px 0 0 5px);
			color: $white;
			display: block;
			padding: 15px;
			@include single-transition( all, .2s, ease-in, 0s );
			&:visited {
				color: $white;
			}
			&:hover {
				background-color: $backgroundColor;
				@include border-radius(5px 0 0 5px);
				color: #333;
				text-decoration: none;
			}
		}
	}
}

.ui-tabs .ui-tabs-hide {
	display: none !important;
}

.site-content {
	margin: 0 0 0 27em;
	position: absolute; // for firefox
	.inside-content {
		margin-top: 2.5em;
	}
}

a[rel="source-code"] {
	font-size: 11px;
	@include float(right);
	position: relative;
	top: .7em;
}

.subheading {
	color: $grayDarker;
	@include ff-text;
	font-weight: normal;
	line-height: 1.3em;
}

hr.separator {
	border-top: 1px solid #ddd;
	@include single-box-shadow( lighten(#ddd, 10%), 0, 1px, 0, 0, false );
}

h3.line {
	border-bottom: 1px solid #ddd;
	@include single-box-shadow( lighten(#ddd, 10%), 0, 1px, 0, 0, false );
	margin-bottom: 1em;
}

#main {
	position: relative;
}

/* Buttons */
// Basic button
.btn {
 	@include button( #fff, #333 );
}

// Button with blue background color
.blue {
	@include button-base( #2d48c0, #fff, true, dark );
}

// Button with black background color
.black {
	@include button-base( #333, #fff, true, dark );
}

// Button with green background color
.green {
	@include button-base( #0fdb30, #fff, true, dark ); 
}

// Button with small size
.small {
	@include button-size( 13px, 8px 18px  );
}

// Button with large size
.large {
	@include button-size( 24px, 18px 35px );
}

.mg {
	margin-right: 20px;
}

.gist {
	margin-bottom: 3.5em;
}