// Fonts & @font-face mixins
// Author	: Satrya - @msattt
// URL		: http://tokokoo.com
// =================================================================================

// Font mixins
// ------------------
@mixin ff-text {
	font-family: $arial; // Global font
}

@mixin ff-heading {
	font-family: $arial; // Heading font
}

@mixin ff-decorative{
	font-family: $cursive;
}

@mixin ff-mono{
	font-family: $consolas;
}