// Helper Mixins
// Helper mixins with custom function
// Author	: Satrya - @msattt
// URL		: http://tokokoo.com
// =================================================================================

// Mixin for simpler inline-block
// ------------------
@mixin inline-block-ie7 {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

// Mixin for selection markup
// ------------------
@mixin selection($background, $color, $element:false) {
	@if($element) {
		&::-moz-selection{ background:$background; color:$color; text-shadow:none; }
		&::selection { background:$background; color:$color; text-shadow:none; }
	} @else {
		::-moz-selection{ background:$background; color:$color; text-shadow:none; }
		::selection { background:$background; color:$color; text-shadow:none; }
	}
}

// Mixin for reset list
// ------------------
@mixin reset-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

// Mixin for placeholder styling
// ------------------
@mixin placeHolder($color) {
	&::-webkit-input-placeholder { color:$color; }
	&:-moz-placeholder { color:$color; }
}

// Webkit-style focus
// ------------------
@mixin tab-focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

// Center-align a block level element
// ----------------------------------
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}