// IE styles
// Conditional class for IE, put all styles inside the .oldie
// =================================================================================

.oldie {
	.site-footer {
		background: transparent;
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000)";
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
		zoom: 1;
	}
}