// Mixins Collections
// Feel free to customize this mixins collections
// =================================================================================

@import 'mixins/helper';
@import 'mixins/basic-buttons';
@import 'mixins/zurb-button';
@import 'mixins/fonts';
@import 'mixins/simple-responsive-grid';

// Mixin for set up the baseline
// Customize version from:
// http://compass-style.org/reference/compass/typography/vertical_rhythm/#mixin-establish-baseline
// ------------------
@mixin establish-baseline($font-size: $base-font-size) {
	// IE 6 refuses to resize fonts set in pixels and it weirdly resizes fonts
	// whose root is set in ems. So we set the root font size in percentages of
	// the default font size.
	* html {
		font-size: 100% * ($font-size / $browser-default-font-size); 
	}
	html {
		font-size: $font-size;
		@include adjust-leading-to(1, if($relative-font-sizing, $font-size, $base-font-size));
		overflow-y: scroll; /* Keeps page centred in all browsers regardless of content height */
		-ms-text-size-adjust: 100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
		-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
		-webkit-font-smoothing: antialiased; /* http://maxvoltar.com/archive/-Webkit-font-smoothing */
	}
	body {
		background: $backgroundColor;
		color: $fontColor;
		@include ff-text;
		text-rendering: optimizeLegibility; /* http://aestheticallyloyal.com/public/optimize-legibility/ */
	}	
}

// Border Radius
// Modifed version from http://compass-style.org/reference/compass/css3/border_radius/
// -o- and -ms- vendor prefix not exist for border radius
$default-rad: 5px !default;

@mixin border-radius($rad: $default-rad) {
	-webkit-border-radius	: $rad;
	-moz-border-radius		: $rad;
	border-radius			: $rad;
}

// Mixin for cross browser inline-block
// http://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/
// ------------------
@mixin inline-block {
	display: -moz-inline-stack;
	-moz-box-orient: vertical;
	display: inline-block;
	*display: inline;
	vertical-align: top;
	*zoom: 1;
}

// Mixin for cross browser opacity
// http://css3please.com/
// ------------------
@mixin opacity($opacity) {
	opacity: $opacity; // Chrome 4+, FF2+, Saf3.1+, Opera 9+, IE9, iOS 3.2+, Android 2.1+
	filter: alpha(opacity=$opacity * 100); // IE6-IE8
}