// Table
// basic table styles
// =================================================================================

/* 	STANDARD TABLE
	----------------- */
table {
	font-size: 12px;
	max-width: 100%;
	width: 100%;
}

table, 
td { 
    border: 1px solid #e8e8e8;
    border-collapse: collapse;
    margin: rhythm() 0;
    padding: 5px 10px;
}

th { 
	background-color: #e8e8e8;
    border-right: 1px solid #e0e0e0;
	color: #666;
	margin: 5px 0 10px;
    padding: 5px 10px;
	text-transform: uppercase;
	text-align: left;
}

table button, 
table input { 
	*overflow: auto;
}

/* 	STRIPE TABLE
	----------------- */
table.striped {
	tr {
		&:nth-child(odd) {
			background-color: #f9f9f9;
		}
	}
}