// Variable
// Feel free to customize this collections
// Author	: Satrya - @msattt
// URL		: http://tokokoo.com
// =================================================================================

// Blueprint grid variable
// ------------------
$blueprint-grid-columns: 24;
$blueprint-grid-margin: 20px;
$blueprint-grid-width: 20px;

$blueprint-grid-outer-width: $blueprint-grid-width + $blueprint-grid-margin;
$blueprint-container-size: $blueprint-grid-outer-width * $blueprint-grid-columns - $blueprint-grid-margin;

// Grid & baseline setup
// ------------------
$grid-background-baseline-color	: rgba(black, .05);
$grid-background-column-color	: rgba(red, .1);
$grid-background-total-columns	: 24;
$grid-background-column-width	: 20px;
$grid-background-gutter-width	: 20px; 

// Global Palettes
// ------------------
$black				: #000 !default;
$blackLight			: #222 !default;
$blackLighter		: #555 !default;
$grayDarker			: #999 !default;
$grayDark			: #aaa !default;
$gray				: #ccc !default;
$grayLight			: #ddd !default;
$grayLighter		: #eee !default;
$white				: #fff !default;
$whiteDark			: #f5f5f5 !default;
$whiteDarker		: #f0f0f0 !default;

// Layout Palettes
// -------------------------
$backgroundColor	: $white !default;
$borderColor		: $grayLighter !default;
$fontColor			: $blackLighter !default;
$altColor			: $gray !default;

// Link Palettes
// -------------------------
$linkColor			: #00baff !default;
$linkHover			: adjust-saturation($linkColor, 60%) !default;
$linkVisited		: darken($linkHover, 5%) !default;
$linkFocus			: $linkHover !default;
$linkActive			: lighten(adjust-hue($linkColor, 75deg), 10%) !default;


// ================================================================================
// Font Stack
// http://unitinteractive.com/blog/2008/06/26/better-css-font-stacks/
// https://github.com/lloydk/font-stack
// ================================================================================
 
// Serif font-stacks
// -------------------------

$georgia-font-stack			: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif !default;
$georgia-font-stack-heading	: Georgia, Times, "Times New Roman", serif !default;
$garamond-font-stack		: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif !default;
$lucida-bright-font-stack	: "Lucida Bright", Georgia, serif !default;
$palatino-font-stack		: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif !default;
$big-caslon-font-stack		: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif !default;
$didot-font-stack			: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif !default;
$baskerville-font-stack		: Baskerville, "Baskerville old face", "Hoefler Text", Garamond, "Times New Roman", serif !default;
$hoefler-text-font-stack	: "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif !default;
$bodoni-mt-font-stack		: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif !default;
$goudy-old-style-font-stack	: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif !default;
$constantia-font-stack		: Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif !default;
$cambria-font-stack			: Cambria, Georgia, serif !default;
$book-antiqua-font-stack	: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif !default;
$times-font-stack			: Times, "Times New Roman", Georgia, serif !default;

// Sans-Serif font-stacks
// -------------------------

$arial-font-stack			: Arial, "Helvetica Neue", Helvetica, sans-serif !default;
$optima-font-stack			: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif !default;
$futura-font-stack			: Futura, "Trebuchet MS", Arial, sans-serif !default;
$gill-sans-font-stack		: "Gill Sans", "Gill Sans MT", Calibri, sans-serif !default;
$trebuchet-font-stack		: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif !default;
$helvetica-font-stack		: "Helvetica Neue", Arial, Helvetica, sans-serif !default;
$verdana-font-stack			: Verdana, Geneva, sans-serif !default;
$lucida-grande-font-stack	: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif !default;
$geneva-font-stack			: Geneva, Tahoma, Verdana, sans-serif !default;
$segoe-font-stack			: Segoe, "Segoe UI", "Helvetica Neue", Arial, sans-serif !default;
$candara-font-stack			: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif !default;
$calibri-font-stack			: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif !default;
$franklin-gothic-font-stack	: "Franklin Gothic Medium", Arial, sans-serif !default;
$tahoma-font-stack			: Tahoma, Geneva, Verdana, sans-serif !default;

// Monospace font-stacks
// -------------------------

$monospace-font-stack		: "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace !default;
$monospace-simple-font-stack: "andale mono", "lucida console", monospace !default;
$consolas-font-stack		: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace !default;

// Cursive font-stacks
// -------------------------
$cursive-font-stack			: "Bradley Hand ITC", "Apple Chancery", "URW Chancery L", cursive !default;